@import './base.css';

body {
 
}
/* .main{
  background: linear-gradient(90deg, #243b80, #3f4fd3);
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:20px;
  color: white;
  

} */
.btn{
  background:white;
  border-radius:20px;
  font-size: 20px;
  color: #0703f8;
  justify-content: center;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top:20px;
  }

.btn:hover{
  background-color: yellow;
}

.kualitas{
  text-align: center;
  padding: 20px;
  background: rgb(8, 8, 8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #3f4fd3;
  transition: 0.3s;
  margin:10px;
 
  
  
}
/* .container{
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
} */
/* .sekolah {
  text-align: center;
  padding: 20px;
  background: rgb(8, 8, 8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(239, 2, 2, 0.1);
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  color: #3f4fd3;
} */
