@import './base.css';

body {
 
}
/* .main{
  background: linear-gradient(90deg, #243b80, #3f4fd3);
  text-align: center;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:20px;
  color: white;
  

} */
.btn{
  background:linear-gradient(90deg, #0B2D5C, #2563EB);
  border-radius:30px;
  font-size: 30px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-left: 510px;
  color: #FFFFFF;
  justify-content: center;
}
.kualitas{
  text-align: center;
  padding: 20px;
  background: rgb(8, 8, 8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #3f4fd3;
  flex-wrap: wrap;
  transition: 0.3s;
  margin:10px;
  
  
}
.container{
   display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
/* .sekolah {
  text-align: center;
  padding: 20px;
  background: rgb(8, 8, 8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(239, 2, 2, 0.1);
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  color: #3f4fd3;
} */
